* {
    margin: 0;
    padding: 0;
    overflow: auto;
}

h1 {
  font-size: 25px;
  overflow: hidden;
}

body {
  width: 100vw;
  height: 100vh;
  min-width: 300px;
  background-color: #071952;
}

#stat-wrapper {
  width: 100%;
  height: 80%;
  position: relative;
}

#stat-container {
  background-color:  #97FEED;
  width: 80%;
  position: absolute;
  height: 100%;
  box-shadow: 1px 1px 10px;
  border-radius: 2px;
}

#tooltip{
  position:absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: aqua;
  box-shadow: 1px 1px 10px;
  border-radius: 2px;
  pointer-events: none;
  overflow: hidden;
  font-size: 1.2vw;
}

.svg-content-responsive {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

footer {
  width: 100%;
  height: 20%;
}

a i {
  color: white;
}

a {
  overflow: hidden;
}